* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  line-height: 30px;
}
h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 100;
}
input {
  font-size: inherit;
  line-height: inherit;
  padding: 5px;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 600;

}
input[disabled] {
  border: 0;
}
.panel {
  margin: 50px auto 200px auto;
  max-width: 600px;
}
.py {
  background-image: url('triangle.png');
  background-size: 400px 260px;
  background-repeat: no-repeat;
  background-position: top center;
  height: 300px;
  width: 600px;
  position: relative;
}
.py input {
  width: 50px;
}
.py-a {
  position: absolute;
  top: 130px;
  left: 60px;
}
.py-b {
  position: absolute;
  top: 240px;
  left: 250px;
}
.py-c {
  position: absolute;
  left: 300px;
  top: 80px;
}
.circum {
  position: relative;
  height: 200px;
  max-width: 600px;
  margin: 0 auto 0 auto;
}
.circle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid #f0f0f0;
  position: absolute;
  left: 150px;
}
.circum-r {
  position: absolute;
  top: 85px;
  left: 225px;
  width: 80px;
}
.circum-c {
  position: absolute;
  top: 85px;
  left: 360px;
  width: 160px;
}
.temp-f,
.temp-c {
  width: 100px;
  font-family: helvetica, sans-serif;
  font-weight: normal;
}
.temp {

}
